.plug{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.trips__wrapper {
	flex: 1;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;

	.trips__header {
		width: 100%;
		display: flex;
		justify-content: flex-end;

		.trips__header-button {
			padding: 10px;
			background-color: #fff;
			fill: grey;
			transform: scale(1.1);
			border: none;
		}
	}

	.trips__search {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 20px;

		.input__wrapper{
			margin-right: 10px;
		}
	}

	@media (max-width: 650px) {
		.trips__search {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			.input__wrapper {
				margin-bottom: 20px;
			}
		}
	}
	
	.trips__status-filter{
		width: 100%;
		margin: 0 0 20px 0;

		.trips__status-filter-header{
			display: flex;
			justify-content: flex-start;
		}

		.button-antd:first-child{
			margin-right: 10px;
		}

		.button-antd:last-child{
			max-width: 100px;
		}
	}

	.trips__table {
		width: 100%;
		display: grid;
		grid-template-rows: 1fr;

		.trips__table-row {
			display: grid;
			grid-template-columns: 60px 2fr;
			border: 1px solid lightgray;

			.trips__table-body {
				display: grid;
				grid-template-rows: 1fr;
				border-left: 1px solid lightgray;
			}

			.trips__table-info {
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				.trips__table-info-text {
					padding: 0 10px 10px 10px;
					text-align: left;
				}

				.trips__table-info-text:first-child {
					padding-top: 10px;
				}
			}

			.trips__table-cell,
			.trips__table-button {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				padding: 10px;
				text-align: left;
			}
	
			.trips__table-button {
				justify-content: center;
				border-radius: 0;
	
				.trips__table-icon {
					transition: transform 0.3s ease;

					&.up{
						transform: scale(0.7) rotate(180deg);
					}

					&.down{
						transform: scale(0.7) rotate(0deg);
					}
				}
			}
		}
	}
}